<div class="logo">

</div>
<div class="NavBar">
  <button (click)="landingpage()" class="NavButton">Home</button>
  <button (click)="placeAppointment()" class="NavButton">Place Appointment</button>
  <button (click)="viewAppointment()" class="NavButton">View Appointment</button>
  <button (click)="contactUspage()" class="NavButton">Contact Us</button>
</div>


<div class="sidebar">
  <p>Fitness Tracker</p>
  <button (click)="landingpage()" class="">Home</button><br>
  <button (click)="placeAppointment()">Place Appointment</button><br>
  <button (click)="viewAppointment()">View Appointment</button><br>
  <button (click)="contactUspage()">Contact Us</button>
</div>
<router-outlet></router-outlet>